# {{ ansible_managed }}
#
# Shorewall - actions File
#
# For information about entries in this file, type "man shorewall-actions"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-actions.html
#
###############################################################################
#ZONE   INTERFACE   OPTIONS

{% for action in shorewall_actions %}
{{ action.name }} {{ action.options | default(" ") }} {{ action.description | default("#nondescript") }}
{% endfor %}
