# {{ ansible_managed }}
#
# Shorewall - interfaces File
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-interfaces.html
#
###############################################################################
?FORMAT 2
###############################################################################
#ZONE   INTERFACE   OPTIONS

{% for item in shorewall_interfaces %}
{{ item.zone }} {{ item.interface }} {{ item.options | default("-") }}
{% endfor %}
