# {{ ansible_managed }}
#
# Shorewall - params File
#
#	Assign any variables that you need here.
#
#	It is suggested that variable names begin with an upper case letter
#	to distinguish them from variables used internally within the
#	Shorewall programs
#
#	Example:
#
#		NET_IF=eth0
#		NET_BCAST=130.252.100.255
#		NET_OPTIONS=routefilter,norfc1918
#
#	Example (/etc/shorewall/interfaces record):
#
#		net	$NET_IF		$NET_BCAST	$NET_OPTIONS
#
#	The result will be the same as if the record had been written
#
#		net	eth0		130.252.100.255	routefilter,norfc1918
#
# For information about entries in this file, type "man shorewall-params"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-params.html
#
###############################################################################

{% for param in shorewall_params %}
{% if param.import is defined %}
. {{ param.import }}{% endif %}
{% endfor %}

{% for param in shorewall_params %}
{% if param.comment is defined %}

# {{ param.comment }} 
{% endif %}
{% if param.name is defined %}
{{ param.name }}="{{ param.value }}" 
{% endif %}
{% endfor %}

{% if dhcp_hosts is defined %}
# DHCP Params
{% for param in dhcp_hosts %}
{% if param.name is defined %}
{% if param.mac_address is defined %}
{{ param.name | replace('-','_') }}="~{{ param.mac_address }}"
{% elif param.fixed_address is defined %}
{{ param.name | replace('-','_') }}="{{ param.fixed_address }}"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

#LAST LINE -- DO NOT REMOVE
