# {{ ansible_managed }}
#
# Shorewall - providers File
#
# For information about entries in this file, type "man shorewall-providers"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-providers.html
#
# For additional information, see http://shorewall.net/MultiISP.html
#
############################################################################################
#NAME   NUMBER  MARK    DUPLICATE       INTERFACE       GATEWAY         OPTIONS         COPY

{% for provider in shorewall_providers %}
{{  provider.name }} {{ provider.number }} {{ provider.mark }} {{ provider.duplicate | default('-') }} {{ provider.interface }} {{ provider.gateway }} {{ provider.options }} {{ provider.iface_copy | default('-') }}
{% endfor %}
