# {{ ansible_managed }}
#
# Shorewall - Routes File
#
# For information about entries in this file, type "man shorewall-routes"
#
#See https://shorewall.org/manpages/shorewall-routes.html for additional information
#
############################################################################################
#PROVIDER     DEST             GATEWAY         DEVICE         OPTIONS
{% for routes in shorewall_routes %}
{% if routes.get('when', True) %}
{% if routes.comment is defined %} 

# {{ routes.comment }} {% endif %}
{% if routes.dest is defined %} 
{{ routes.provider | default('main') }} {{ routes.dest }} {{ routes.gateway | default('-') }} {{ routes.device | default('-') }} {{ routes.options | default('-') }} {% endif %}
{% endif %}
{% endfor %}

