# {{ ansible_managed }}
#
# Shorewall - stoppedrules File
#
# For information about entries in this file, type "man shorewall-stoppedrules"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-stoppedrules.html
#
###############################################################################
#ACTION         SOURCE          DEST            PROTO   DEST            SOURCE
#                                                       PORT(S)         PORT(S)

{% for sr in shorewall_stoppedrules %}{% if sr.comment is defined %}# {{ sr.comment }} {% endif %} 
{{ sr.action }} {{ sr.source | default("-") }} {{ sr.dest | default("-") }} {{ sr.proto | default('') }} {{ sr.dest_port | default('')}} {{ sr.source_port | default('') }}
{% endfor %}

#LAST LINE -- DO NOT REMOVE