# {{ ansible_managed }}
#
# Shorewall - tunnels File
#
# For information about entries in this file, type "man shorewall-tunnels"
#
# The manpage is also online at
# https://shorewall.org/manpages/shorewall-tunnels.html
#
###############################################################################
#TYPE		    ZONE	GATEWAY(S)			GATEWAY ZONE(S)

{% for i in shorewall_tunnels %}{% if i.comment is defined %}# {{ i.comment }} {% endif %} 
{{ i.type }} {{ i.zone }} {{ i.gateway }} {{ i.gateway_zone | default('') }}
{% endfor %}

#LAST LINE -- DO NOT REMOVE