# {{ ansible_managed }}
#
# Shorewall6 - actions File
#
# For information about entries in this file, type "man shorewall6-actions"
#
# The manpage is also online at
# https://shorewall.org/manpages6/shorewall6-actions.html
#
###############################################################################
#ZONE   INTERFACE   OPTIONS

{% for action in shorewall6_actions %}{% if action.comment is defined %}# {{ action.comment }} {% endif %} 
{{ action.name }} {{ action.options | default(" ") }} {{ action.description | default("#nondescript") }}
{% endfor %}

#LAST LINE -- DO NOT REMOVE