###############################################################################
# {{ ansible_managed }}
#
#  Shorewall Version 4 -- /etc/shorewall6/shorewall6.conf
#
#  For information about the settings in this file, type "man shorewall6.conf"
#
#  Manpage also online at
#  http://www.shorewall.net/manpages6/shorewall6.conf.html
###############################################################################

{% for key,value in shorewall6_conf.items() %}
{{ key|upper }}={{ value }}
{% endfor %}
{% if shorewall_default_actions_macros == 'v5_debian10' %}
# For https://github.com/mrlesmithjr/ansible-shorewall/issues/15
ACCEPT_DEFAULT="none"
BLACKLIST_DEFAULT="dropBcasts,dropNotSyn,dropInvalid"
DROP_DEFAULT="Broadcast(DROP),Multicast(DROP)"
NFQUEUE_DEFAULT="none"
QUEUE_DEFAULT="none"
REJECT_DEFAULT="Broadcast(DROP),Multicast(DROP)"
{% endif %}

